---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts', ({ data }) => !data.draft))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<Base title="Journal">
  <div class="sz-tiles">
    {posts.map((post, i) => (
      <a href={`/${post.slug}`} class="sz-tile">
        <img
          src={post.data.thumbnail}
          alt={post.data.title}
          loading={i === 0 ? 'eager' : 'lazy'}
        />
        <span class="sz-tile-label">{post.data.title}</span>
      </a>
    ))}
  </div>
</Base>
